.option {
    background-color: #3c0e70;
    border-radius: .5rem;
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    opacity: 0.8;
}
  
.option:hover {
    opacity: 1;
}

.correct {
    background-color: rgb(21, 202, 21);
    font-weight: bold;
}

.wrong {
    background-color: rgb(215, 28, 28);
    opacity: 0.4;
}