#welcome {
  text-align: center;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome ,h2, p{
    padding-bottom: 1rem;
}

#welcome, p {
    color: blueviolet;
    font-size: 1.2rem;
}

img {
    margin-top: rem;
}

#welcome button {
    border:  2px solid #fff;
    margin: auto;
}

#welcome img {
    width: 24rem;
}