*{
  padding: 0;
  margin: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}

body,
html {
  background-color: #1c1c1c;
  min-height: 100vh;
  height: 100%;
}

img {
  max-width: 100%;
  padding-top: 1rem;
}

button {
  /* background-image:*/
  background: linear-gradient(90deg, rgba(130, 42, 229, 1) 0%, rgba(184, 87, 229, 1) 100%); 
  cursor: pointer;
  font-weight: bold;
  width: 10vw;
  height: 5vh;
  font-size: 1rem;
  border-radius: 3rem;
  border: none;
}

button:hover {
  background: linear-gradient(90deg, rgb(184, 87, 229, 1) 0%, rgb(130, 42, 229, 1) 100%);
}